body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.footer {
  display: flex;
  justify-content: center;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.list-image,
.cart-item-image {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 8px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Cart Component Specific CSS */
.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.cart-item-title {
  flex-grow: 1;
}

.add-minus-button-container {
  display: flex;
  align-items: center;
  margin: 10px;
}
ion-icon {
  height: 30px;
  width: 30px;
}

ion-icon:active {
  transform: scale(0.88);
}

#subtotal {
  text-align: right;
}
