@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap'); */

body {
  font-family: 'Quicksand', sans-serif;
  padding-top: 75px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 10px;
  display: inline-block;
}

/* NAVBAR */
.navbar {
  height: 75px;
  background-image: linear-gradient(to right, #e7dbc7, #dec2a3);
  opacity: 0.9;
}

.nav-link {
  color: #9b3c18;
}

.navbar-brand {
  color: #9b3c18;
  /* text-decoration: underline; */
  text-decoration-thickness: 2px;
}

#center-brand {
  font-size: 40px;
  /* font-family: 'Merienda', cursive; */
  /* font-family: 'Corben', cursive; */
  letter-spacing: 2px;
}

.nav-link:focus,
.nav-link:hover,
nav a,
nav a:hover {
  color: black;
  text-shadow: none;
}

.nav-item {
  font-size: 20px;
}

.badge {
  border-radius: 50%;
}

@media (min-width: 768px) and (max-width: 1032px) {
  #center-brand {
    font-size: 20px;
  }

  .nav-item {
    font-size: 16px;
  }
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #9b3c18;
  background-color: #e3d6c3;
}

/* SLIDER FOR HOMEPAGE */
.carousel-inner img {
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-item .overlay {
  color: white;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  font-weight: bold;
  text-align: center;
}

.carousel-item h1 {
  font-size: 50px;
  letter-spacing: 1.5px;
  font-family: 'Joan', serif;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

#partner img {
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel-item button {
  font-size: 18px;
}

.carousel-item button:hover {
  opacity: 0.7;
}

/* all products */

#all-products-title {
  text-align: center;
  margin: 10px;
}

.product-list button {
  margin: 30px 0;
  background-color: black;
  color: white;
  margin: 8px;
}

.product-list button:hover {
  background-color: white;
  color: #d39850;
}

.product-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-list-item-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SINGLE PRODUCT VIEW */

.single-product-container {
  margin-top: 35px;
}

.single-product-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

.single-product-content .title {
  margin: 20px 0;
}

.single-product-content .price {
  color: #d39850;
  font-size: 26px;
}

.single-product-content .quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.single-product-content .quantity input {
  margin-left: 10px;
}

.single-product-content button {
  margin: 30px 0;
  background-color: black;
  color: white;
}

.single-product-content button:hover {
  background-color: white;
  color: #d39850;
}

.single-product-content .description {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.single-product-content .description span {
  font-size: 18px;
  font-weight: bold;
}

.list-image,
.cart-item-image {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 8px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Cart Component Specific CSS */
.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.cart-item-title {
  flex-grow: 1;
}

.add-minus-button-container {
  display: flex;
  align-items: center;
  margin: 10px;
}
ion-icon {
  height: 30px;
  width: 30px;
}

ion-icon:active {
  transform: scale(0.88);
}

#subtotal {
  text-align: right;
}

.cart-container Link {
  margin: 30px 0;
  background-color: black;
  color: white;
  margin: 8px;
}

.cart-container Link:hover {
  background-color: white;
  color: #d39850;
}

#cart-title {
  text-align: center;
  margin: 10px;
}

#checkout-button {
  margin: 10px;
  display: flex;
  justify-content: center;
}

/* Login Page */

.login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.login-form button {
  margin: 30px 0;
  background-color: black;
  color: white;
  margin: 8px;
}

.login-form button:hover {
  background-color: white;
  color: #d39850;
}

/* SIGN UP PAGE */
.signup-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.signup-form-container h2 {
  padding-bottom: 10px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form button:hover {
  background-color: white;
  color: #d39850;
}

/* Checkout page */

#checkout-title {
  margin: 10px;
  text-align: center;
}

.purchase-form-container button {
  margin: 30px 0;
  background-color: black;
  color: white;
  margin: 8px;
}

.purchase-form-container button:hover {
  background-color: white;
  color: #d39850;
}

.purchase-form-container {
  display: flex;
  margin: 10px;
}

.purchase-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.checkout-container {
  display: flex;
  justify-content: space-around;
}

.checkoutCart-container {
  border-radius: 8px;
  border: gray;
  border-style: solid;
  border-width: thin;
  padding: 10px;
  margin: 10px;
}

.checkoutCart-item-img {
  object-fit: cover;
  width: 75px;
  height: 75px;
  border-radius: 8px;
  margin: 5px;
}

.checkoutCart-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkoutCart-item {
  margin: 5px;
  padding: 5px;
}

/* about us */

.about-us-container {
  text-align: center;
}

.about-us-description {
  margin: auto;
  width: 50%;
}

/* all products */
.product-list button {
  margin: 30px 0;
  background-color: black;
  color: white;
  margin: 8px;
}

.product-list button:hover {
  background-color: white;
  color: #d39850;
}

/* confirmation page */

#confirmation-title {
  text-align: center;
  margin: 10px;
}

/* ADMIN LOGIN PAGE */
.admin-login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.admin-login-form button:hover {
  background-color: white;
  color: #d39850;
}

/* ADMIN HOME PAGE */
.admin-home-container {
  padding-top: 150px;
}

.admin-home-container .btn:hover {
  background-color: white;
  color: #d39850;
}

/* ADMIN PROFUCT FORM */
.product-form-container .form-label {
  font-weight: bold;
}

.product-form-container .btn:hover {
  background-color: white;
  color: #d39850;
}

/* ALL PRODUCTS */
#edit-button:hover {
  background-color: white;
  color: #d39850;
}

/* Loading page */
@keyframes dot-keyframes {
  0% {
    opacity: 0.3;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1.3, 1.3);
  }

  100% {
    opacity: 0.4;
    transform: scale(1, 1);
  }
}

.loading {
  text-align: center;
  width: 100%;
  position: fixed;
  top: calc(40vh);
}

.loading-dot {
  animation: dot-keyframes 1.5s infinite ease-in-out;
  background-color: #e3cfb6;
  border-radius: 1.5rem;
  display: inline-block;
  height: 1.4rem;
  width: 1.4rem;
  margin: 0 0.5rem;
}

.loading-dot:nth-child(2) {
  animation-delay: 0.5s;
}

.loading-dot:nth-child(3) {
  animation-delay: 1s;
}
