@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap'); */

body {
  font-family: 'Quicksand', sans-serif;
  padding-top: 75px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 10px;
  display: inline-block;
}

/* NAVBAR */
.navbar {
  height: 75px;
  background-image: linear-gradient(to right, #e7dbc7, #dec2a3);
  opacity: 0.9;
}

.nav-link {
  color: #9b3c18;
}

.navbar-brand {
  color: #9b3c18;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

#center-brand {
  font-size: 40px;
  /* font-family: 'Merienda', cursive; */
  /* font-family: 'Corben', cursive; */
  letter-spacing: 2px;
}

.nav-link:focus, .nav-link:hover, nav a, nav a:hover {
    color: black;
    text-shadow: none;
}

.nav-item {
  font-size: 20px;
}

.badge {
  border-radius: 50%;
}

@media (min-width: 768px) and (max-width: 1032px) {
  #center-brand {
    font-size: 20px;
  }

  .nav-item {
    font-size: 16px;
  }
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #9b3c18;
  background-color: #e3d6c3;
}

/* SLIDER FOR HOMEPAGE */
.carousel-inner img {
  width: 100%;
  position: relative;
  background-color: rgba(0,0,0,.1);
}

.carousel-item .overlay {
  color: white;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  font-weight: bold;
  text-align: center;
}

.carousel-item h1 {
  font-size: 50px;
  letter-spacing: 1.5px;
  font-family: 'Joan', serif;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

#partner img {
  opacity: 0.7;
  background-color: rgba(0,0,0,.7);
}

.carousel-item button {
  font-size: 18px;
}

.carousel-item button:hover {
  opacity: 0.7;
}

/* SINGLE PRODUCT VIEW */

.single-product-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

.single-product-content .title {
  margin: 20px 0;
}

.single-product-content .price {
  color: #d39850;
  font-size: 26px;
}

.single-product-content .quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.single-product-content .quantity input {
  margin-left: 10px;
}

.single-product-content button {
  margin: 30px 0;
  background-color: black;
  color: white;
}

.single-product-content button:hover {
  background-color: white;
  color: #d39850;
}

.single-product-content .description {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.single-product-content .description span {
  font-size: 18px;
  font-weight: bold;
}

.list-image,
.cart-item-image {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 8px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Cart Component Specific CSS */
.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.cart-item-title {
  flex-grow: 1;
}

.add-minus-button-container {
  display: flex;
  align-items: center;
  margin: 10px;
}
ion-icon {
  height: 30px;
  width: 30px;
}

ion-icon:active {
  transform: scale(0.88);
}

#subtotal {
  text-align: right;
}

/* Login Page */

.login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  margin: 10px;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}




